@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #B39DDB;
  --color-primary-hover: #9575CD;
  --color-primary-deep: #7E57C2;
}
